<div id="<%= dom_id contact %>">
  <div class="lead">
    <strong>Firstname:</strong> <%= contact.firstname %>
  </div>

  <div class="lead">
    <strong>Lastname:</strong> <%= contact.lastname %>
  </div>

  <div class="lead">
    <strong>Email:</strong> <%= contact.email %>
  </div>

  <div class="lead">
    <strong>Phone:</strong> <%= contact.phone %>
  </div>

  <div class="lead">
    <strong>Cellphone:</strong> <%= contact.cellphone %>
  </div>

</div>
