<div id="<%= dom_id address %>">
  <p>
    <strong>Street:</strong>
    <%= address.street %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= address.state %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= address.zip_code %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= address.country %>
  </p>

  <p>
    <strong>Neighborhood:</strong>
    <%= address.neighborhood %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= Contact.find(address.contact_id).firstname %>
  </p>
</div>
<%= link_to 'Edit this address', "#{edit_address_path(address)}?contact_id=#{address.contact_id}" %> |
<%= button_to "Destroy this address", address, method: :delete %>
